%section#articles
  .search
    = form_tag(articles_path, :method => :get) do
      = search_field_tag :query
  - @articles.each do |article|
    %article
      %h1
        = article.title
      .body
        = truncate_html(article.generated_body, :length => 300, :omission => "... #{link_to 'more', article}")