!!! 5

%html

  %head
    %title
      = yield(:title) || "forkable.me"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head) || ""

  %body
    #container
      %header
        %h1 forkable.me
      %section#content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        = yield
      %footer